<h1>Editing Photo</h1>

<form action="/rotatephoto">
  <input type="submit" name="rotateButton" value="Rotate">
  <input type="submit" formaction="/deletephoto" name="deleteButton" value="Delete">
</form>

<%= link_to 'Show', @post_photo %> |
<%= link_to 'Back', post_photos_path %>
