<h1>Editing Photo</h1>

<form action="/rotatephoto">
  <button type="submit" name="Rotation" value=<%= @post_photo.image.key %>>Rotate</button>
  <button type="submit" formaction="/deletephoto" name="Delete" value=<%= @post_photo.image.key %>>Delete</button>
</form>

<%= link_to 'Show', @post_photo %> |
<%= link_to 'Back', post_photos_path %>
