<p id="notice"><%= notice %></p>

<h1>Aws Project</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <form action="/sendphoto">
          Select photo to send to S3:<br>
          <input type="file" name="photo">
          <input type="submit" value="Send">
        </form>
        <br>

        <form action="/rotatephoto">
          <% @readedPhoto.each do |photo| %>
            <input type="radio" name="choosen_photo" value=<%= photo.key %>><%= photo.key %>
            <br>
          <% end %>
          <input type="submit" name="rotateButton" value="Rotate">
          <input type="submit" formaction="/deletephoto" name="deleteButton" value="Delete">
        </form>
      </tr>
  </tbody>
</table>

<br>
